<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Periodic Table of Elements</title>
    <meta name="description" content="Interactive Periodic Table of Elements">
    <meta name="author" content="Dave Berning">

    <link rel="stylesheet" href="/assets/bower_components/bootstrap/dist/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/styles.css?v=1.0">
</head>

<body ng-app="periodicTableOfElements">
    <div ng-controller="elementNamesController">
        <div ng-repeat="elementName in elementNames track by $index">
            <div ng-if="elementIndex == $index">
                <p class="element"><strong>{{elementName.small}}</strong><br>
                {{elementName.number}}<br>
                {{elementName.molar}}</p>
            </div>
        </div>
        {{numberOfPages}}
        {{elementIndex}}
        <button ng-click="previous()">Next</button>
        <button ng-click="next()">Next</button>
    </div>
</body>
<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/assets/bower_components/angular/angular.js"></script>
<script src="/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/app/app.js"></script>
<script src="/app/components/periodic-table/elements-factory.js"></script>
<script src="/app/components/periodic-table/table-controller.js"></script>
</html>
