<div ng-repeat="element in elements | orderBy:'+number'">
    <div ng-if="elementIndex == element.number-1">
        <strong>{{element.name}} - {{element.number}}</strong>
        {{element.electrons}}
        <br>

        <div class="atom">
            <div ng-repeat="electrons in elements[element.number-1].electrons track by $index" class="electron-shell">
                <div ng-repeat="n in [] | range:electrons" my-repeat-directive class="">
                    <div class="electron"></div>
                </div>
            </div>
            <div class="nucleus nucleusAnimate"></div>
        </div><!-- atom -->
    </div>
</div>

<div class="table-controls">
    <button ng-click="previous()" ng-disabled="elementIndex == 0">Previous</button>
    <button ng-click="next()">Next</button>
    <button ng-click="next()">Next</button>
</div>
