<div ng-repeat="element in elements | orderBy:'+number'">
    <div ng-if="elementIndex == element.number-1">
        <div class="table-square">
            <div class="square">
                <div class="text-center">
                    <span class="number">{{element.number}}</span>
                    <strong>{{element.small}}</strong><br>
                    {{element.name}}<br>
                    {{element.molar}}
                </div>
            </div>

            <ul class="list-unstyled">
                <li>Protons: {{element.number}}</li>
                <li>Neutrons: {{element.molar - element.number | number:0}}</li>
                <li>Electrons: {{element.number}}</li>
            </ul>
        </div>

        <a href="{{element.wiki}}" ng-disabled="!element.wiki.length" class="btn btn-primary more-info" target="_blank">More on {{element.name}} <span class="lnr lnr-chevron-right"></span></a>

        <br>

        <div class="atom">
            <div ng-repeat="electrons in elements[element.number-1].electrons track by $index" class="electron-shell show-path" ng-class="{'animate' : animateAtom}">
                <div ng-repeat="n in [] | range:electrons" my-repeat-directive class="">
                    <div class="electron"></div>
                </div>
            </div>
            <div class="nucleus" ng-class="{'animate' : animateAtom}"></div>
        </div><!-- atom -->
    </div>
</div>

<div class="table-controls">
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-6">
                <p ng-show="elementIndex == 0" class="pointer disabled"><span class="lnr lnr-chevron-left"></span> Previous</p>
                <p ng-click="previous()" ng-hide="elementIndex == 0" class="pointer"><span class="lnr lnr-chevron-left"></span> Previous</p>
            </div>
            <div class="col-sm-6">
                <p ng-click="next()" ng-hide="elementIndex == 117" class="pointer">Next <span class="lnr lnr-chevron-right"></span></p>
                <p ng-show="elementIndex == 117" class="pointer disabled">Next <span class="lnr lnr-chevron-right"></span></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-6">
                <button class="btn btn-primary btn-block toggleAnimate">Animate</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary btn-block togglePath">Toggle Path</button>
            </div>
        </div>
    </div>
    <div class="col-sm-3 text-right gutter-bottom">
        <p class="text-muted">Copyright &copy; 2017. Created by <a href="https://daveberning.io" class="text-muted" target="_blank">Dave Berning</a>.<br>
        Proudly powered by wind energy at GreenGeeks.<br>
        <span class="lnr lnr-rocket text-muted"></span> Always look up.</p>
    </div>
</div>

<script type="text/javascript">
    $('.toggleAnimate').click(function() {
        $('.electron-shell, .nucleus').toggleClass('animate');
    });

    $('.togglePath').click(function() {
        $('.electron-shell').toggleClass('show-path');
    });
</script>
