header {
    padding: 15px;
}

.element {
    border: 5px solid #000;
    border-radius: 2px;
    padding: 15px;
    text-align: center;
    width: 60%;
    float: left;
}

.element strong {
    font-size: 20px;
}

.quark {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
}

.electron {
    background: blue;
}

.proton {
    background: red;
}

.neutron {
    background: gray;
}
